@model BaselineSiteElements.Features.BasicPage.BasicPageViewModel
@* If referencing XperienceCommunity.Baseline.Navigation, can use the breadcrumbs
    <vc:breadcrumbs include-default-breadcrumb="true" nodeid="-1" />*@
<div class="row">
    <div class="col-sm-12">
        <editable-area area-identifier="main" />
    </div>
</div>


