@model Navigation.Models.NavigationItem
<li bl-navitem-class bl-navitem-references bl-navigation-item="Model" class="@Model.LinkCSSClass">
    <a bl-navitem-link bl-navigation-item="Model">@Html.Raw(Model.LinkText)</a>
    @if (Model.Children.Count() > 0)
    {
        <ul>
            @foreach (var ChildItem in Model.Children)
            {
                <partial name="/Components/Navigation/SecondaryNavigation/SecondaryNavigationDropdownItem.cshtml" for="@ChildItem" />
            }
        </ul>
    }
</li>
