@model Account.Features.Account.Confirmation.ConfirmationViewModel
@{
    ViewBag.Title = $"Confirmation {(Model.Result.Succeeded ? "Successful" : "Failure")}";
}
@if (Model.Result.Succeeded || Model.IsEditMode)
{

    <h1>Confirmation Successful</h1>
    <p>Congradulations, your account is now activated.  You may now <a href="@Model.LoginUrl">login</a>.</p>

}
@if (!Model.Result.Succeeded || Model.IsEditMode)
{

    <h1>Confirmation Failure</h1>
    <p>The following errors occurred:</p>

    @if (Model.Result != null && Model.Result.Errors != null && Model.Result.Errors.Any())
    {
        <ul>
            @foreach (var error in Model.Result.Errors)
            {
                <li>Code @(error.Code): @error.Description</li>
            }
        </ul>
    }

}
