@{
    var pageMetaData = new PageMetaData()
    {
        Title = StringLocalizer.GetStringOrDefault("mm.httperror.404.title", "Page Unavailable") + " | Movement Mortgage"
    };
}
<vc:manual-page-meta-data meta-data="@pageMetaData" />
<div class="mm-container text-center">
    <h1>
        <span class="mm-text mm-text--expressive text-graphite font-ko-FullSumo -mb-20 block"
              style="--mm-font-size: 8rem; --mm-line-height: 1; --mm-letter-spacing: 0px; --mm-text-stroke-width: undefinedpx;">
            @StringLocalizer.GetStringOrDefault("mm.httperror.404.heading", "Page not Found")
        </span>
        <span class="mm-text mm-text--expressive mm-text--outlined text-primary font-ko-FullSumo block"
              style="--mm-font-size: 20rem; --mm-line-height: 1; --mm-letter-spacing: 0px; --mm-text-stroke-width: 2px; --mm-text-fill-color: transparent; font-size: calc(100vw / 6) !important;">
            404
        </span>
    </h1>
</div>
